
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width" />
    <title>StudentExam</title>
</head>
<body>
    @if(@ViewBag.error!=null)
    {
    <div class="alert alert-danger">
        <strong>Danger!</strong>  @ViewBag.error
    </div>
    }
    @using (Html.BeginForm())
    {
        <div>
            <h1>Enter Room Number:</h1>
            <input type="text" id="room" name="room" placeholder="Room Number" class="form-control" />
            <br />
            <br />
            <input type="submit" value="Submit" class="btn-info" />
        </div>
    }
</body>
</html>
